@import "tailwindcss";

html, body {
  overflow-x: hidden;
  width: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* Allow selection in input and text areas */
input, textarea {
  -webkit-user-select: text; /* Safari */
     -moz-user-select: text; /* Firefox */
      -ms-user-select: text; /* IE10+/Edge */
          user-select: text; /* Standard */
}

@keyframes text-wave-linear {
  to {
    background-position: 200% center;
  }
}

.animate-wave-text {
  background-image: linear-gradient(
    to right,
    #1e3a8a 0%,
    #0ea5e9 25%,
    #3b82f6 50%,
    #0ea5e9 75%,
    #1e3a8a 100%
  );
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: text-wave-linear 4s linear infinite;
}
